# OS
.DS_Store

# Node
node_modules/
public/
.quartz-cache

# Build / TS
tsconfig.tsbuildinfo

# Obsidian (optional)
.obsidian/

# Private content (Quartz)
content/private/
content/drafts/

# Optional
.replit
replit.nix